= Package Upgrade Report

== Durations

[%header,cols="1,1",stripes=even,align=center]
|===
|Start Time | {{ start_time }}
|End Time | {{ end_time }}
|Duration | {{ duration }}
|===

The following packages need to be upgraded:

{% for pkg in packages %}
- {{ pkg }}
{% endfor %}

