<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package Upgrade Report</title>
</head>
<body>
    <h1>Package Upgrade Report</h1>
    <p>The following packages need to be upgraded:</p>
    <ul>
    {% for pkg in packages %}
        <li>{{ pkg }}</li>
    {% endfor %}
    </ul>
</body>
</html>

