= Package Upgrade Report

== Durations

[%header,cols="1,1",stripes=even,align=center]
|===
|DESCRIPTION | TIME
|Start Time | {{ start_time['stdout'] }}
|End Time | {{ end_time['stdout'] }}
|Duration | {{ duration }}
|===

== Packages

The following packages need to be upgraded:

{% for pkg in packages %}
- {{ pkg }}
{% endfor %}

